<%-include('partials/header')-%>)

    <div class="container-fluid">
        <div class="row p-3">
            <div class="col-lg-8 bg-light">
                <div class="card">
                    <div class="card-header bg-dark text-light">
                       
                        <p class="card-text float-start">Total Price: <%=order.total%>,000LL</p>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=userr.username%>
                        </h5>
                        <p class="card-text">Location:
                            <%=userr.address.addr%>
                                <%=userr.address.city%>
                        </p>
                        <p class="card-text">Date:
                            <%=order.date%>
                        </p>
                        <p class="card-text">Phone Number:
                            <%=userr.address.tel%>
                        </p>
                        <div class="card bg-light mb-3" style=";">
                            <div class="card-header">
                                <p style="display: inline-block;">Items</p>
                                <p class="float-end" style="display: inline-block;">Prices</p>
                            </div>
                            <div class="card-body justify-content-start">

                                <%console.log("the order is: "+order.items)%>
                                    <%order.items.forEach(function(item){%>
                                        <div class="row">
                                            <div class="col-3">
                                                <img src=<%="../images/" +item.img%> style="display: inline-block; height: 5rem; width: 5rem;" alt="">
                                            </div>
                                            <div class="col-9">
                                                <div>
                                                    <p style="display: inline-block;">
                                                        <%=item.title%>
                                                    </p>
                                                    <p class="float-end" style="display: inline-block;">
                                                        <%=item.price%>LL </p>
                                                </div>
                                                <p>Quantity:
                                                    <%=item.qty%>
                                                </p>
                                            </div>
                                        </div>
                                        <hr>

                                        <% })%>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 scroll">

                <%var count=1%>
                    <%=console.log("users are: "+users)%>
                        <%users.forEach(function(user){%>
                            <%user.orders.forEach(function(order){%>
                             <%if(order.recieved==false){%>
                                <div class="card">
                                    
                                        <div class="card-header bg-warning text-dark">
                                            Order #
                                            <%=count%>
                                                <p class="card-text float-end">Total Price:  <%=order.total%>,000LL
                                                </p>

                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%=user.username%>
                                            </h5>
                                            <p class="card-text">Location:
                                                <%=user.address.addr%>
                                                    <%=user.address.city%>
                                            </p>
                                            <p class="card-text">Date:
                                                <%=order.date%>
                                            </p>
                                            <p class="card-text">Phone Number:
                                                <%=user.address.tel%>
                                            </p>
                                            <form action="adminOrder" method="POST">
                                            <input type="hidden"  name="userOrder" value=<%=user.id%>>
                                            <input type="hidden"  name="Order" value=<%=order.id%>>
                                            <button type="submit" class="btn btn-primary">See Full Order</button>
                                            </form>
                                            <form method="post" action="/recieved">
                                        <button type="submit" class="btn btn-danger float-end">Remove</button>
                                        </form>
                                        </div>
                                    

                                </div>
                                <%count++%>
                                <%}%>
                                <%})%>

                                    <% })%>

            </div>
        </div>
    </div>


    <%-include('partials/footer')-%>)