<%- include("partials/header") -%>




    <div class="text-center background-brand">

        <h1 class="pt-5">Category</h1>
        <p class="lead pb-5">Choose your product any category! </p>

        <form action="/category" method="post">
        <div class="input-group mb-3 mx-auto" style="max-width: 35rem;">
            <input type="text" class="form-control" placeholder="Search" name="categoryname" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary mb-5" type="submit">Search</button>
            </div>
        </div>
        </form>
        <div id="notes"></div>
    </div>


    <div class="row mx-auto">
        <div class="col-6 mx-auto">
            <div class="row">
           

                <%categories.forEach(function(category){%>
                    <div class="col-md-6 col-lg-4 my-2">
                        <div class="card brand-card">
                            <form action="products" method="POST">
                                <img class="card-img" style="max-height: 5rem;" src=<%="../images/" +category.img%> alt="">
                                <div class="card-header">
                                    <input hidden type="text" name="category" value=<%=category.category%>>
                                    <p class="lead">
                                        <%=category.category%>
                                    </p>
                                    <div class="text-center pt-3">
                                        <button type="submit" class="btn btn-primary">explore</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <%})%>
            </div>
        </div>
    </div>



<script>





</script>



    <%- include("partials/footer") -%>