<%- include("partials/header") -%>


    <div style="background-image:url('../images/headerimg.jpg'); background-size:cover; background-position: center ; background-repeat: no-repeat; height: 38vh; margin:0">
        <div class="row">
            <div class="col col-md-6 text-center mx-auto">

                <h1 class="p-4 "> <i>Welcome to M2H</i>
                </h1>
                <h6 class="p-3">Check out top quality items and exclusive offers!</h6>

            </div>
        </div>
    </div>

    <!-- HOME -->
    <div class="row text-center m-0 p-2 bg-light">
        <div class="col-4">
            <p class="lead">Top Quality</p>
        </div>
        <div class="col-4">
            <p class="lead">1$ = 1520LL</p>
        </div>
        <div class="col-4">
            <p class="lead">Fast Delivery</p>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container ">


            <div class="row">

                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-3 pb-md-4">Brands</h2>
                    <p class="lead mb-5">Check out our various Brands!</p>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        <%=console.log("ww"+brandss)%>
                            <%brandss.forEach(function(br){%>

                                <div class="item">
                                    <div class="work">
                                        <%var image=br.img%>
                                            <%=console.log(image)%>
                                                <form action="/products" method="POST">
                                                    <button type="submit" class="btn">
                                                <div class="card text-center" style="width: 18rem;">
                                                    <img style="height: 12rem;" class="card-img-top" src=<%="../images/"+br.img%> alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-text">
                                                            <%=br.brand%>
                                                                </p>
                                                    </div>
                                                </div>
                                            </button>
                                                    <input type="hidden" name="brand" value=<%=br.brand%>>
                                                </form>
                                    </div>
                                </div>
                                <%})%>
                    </div>
                </div>
                <form action="brands" method="GET">
                    <div class="text-center py-5">
                        <button type="submit" class="btn btn-warning">
                            Check out all brands
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <section class="bg-light text-center p-5">
        <div class="container-fluid">
            <!--title-->
            <div class="row text-muted text-center">
                <div class="col m-4">
                    <h1 class="display-4 mb-4 ">Best Sellers</h1>
                    <div class="underline-dark mb-4">
                    </div>
                    <p class="lead">Check out some of our best sellers items</p>
                </div>
            </div>
            <!--end of title-->
            <div class="row align-items-center text-center mx-auto">

                <%best.forEach(function(b){%>
                    <%console.log("55"+b.name)%>
                        <div class="col-lg-4 col-10 mx-auto">
                            <div class="card card-1  text-dark  my-4 mx-auto">

                                <img style="max-height: 200px; max-width:200px" class="mx-auto my-2" src=<%="../images/" +b.img%> alt="">
                                <div class="card-body">
                                    <h5 class="text-uppercase font-weight-bold mb-3 card-list-item">
                                        <%=b.name%>
                                    </h5>
                                    <%console.log("&"+b.item)%>
                                        <form action=<%="/products/" +b.item%> method="GET">
                                            <button type="submit" class="btn p-2 
                                    text-uppercase font-weight-bold price-card-button btn-warning text-light">See Details</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <%})%>


            </div>
        </div>

        </div>
    </section>





    <section class="ftco-section">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-3 pb-md-4 ">Categories</h2>
                    <p class="lead mb-5">Check out our various categories</p>
                </div>
                <div class="col-md-12">
                    <div class="featured-carousel owl-carousel">
                        <%=console.log(brandss)%>
                            <%categoriess.forEach(function(cat){%>
                                <div class="item">
                                    <div class="work">
                                        <%var image=cat.img%>
                                            <%=console.log(image)%>
                                                <form action="/products" method="POST">
                                                    <button type="submit" class="btn">
                                                <div class="card text-center" style="width: 18rem;">
                                                    <img style="height: 12rem;" class="card-img-top" src=<%="../images/"+cat.img%> alt="Card image cap">
                                                    <div class="card-body">
                                                        <h6 class="card-text">
                                                            <%=cat.category%>
                                                                </p>
                                                    </div>
                                                </div>
                                            </button>
                                                    <%console.log(cat.category)%>
                                                        <input type="hidden" name="category" value=<%=cat.category%>>
                                                </form>
                                    </div>
                                </div>
                                <%})%>
                    </div>
                </div>
                <form action="category" method="GET">
                    <div class="text-center py-5">
                        <button type="submit" class="btn btn-warning">
                            Check out all categories
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </section>




    <%- include("partials/footer") -%>